[project]
	description = Toy starter kit http jsonrpc derived from Ethereum parity
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mmacedo (mmacedoeu)
[access "refs/for/refs/*"]
	read = group user/mmacedo (mmacedoeu)
	push = group user/mmacedo (mmacedoeu)
	label-Code-Review = -2..+2 group user/mmacedo (mmacedoeu)
	label-Verified = -1..+1 group user/mmacedo (mmacedoeu)
	rebase = group user/mmacedo (mmacedoeu)
	removeReviewer = group user/mmacedo (mmacedoeu)
	submit = group user/mmacedo (mmacedoeu)
[access "refs/heads/*"]
	read = group user/mmacedo (mmacedoeu)
	create = group user/mmacedo (mmacedoeu)
	push = +force group user/mmacedo (mmacedoeu)
	pushMerge = group user/mmacedo (mmacedoeu)
[access "refs/tags/*"]
	push = group user/mmacedo (mmacedoeu)
	push = +force group user/mmacedo (mmacedoeu)
